.headings {
    margin: 0;
    font-family: 'Courier Prime', monospace;
    text-align: center;
}

.content {
    display: grid;
    gap: 2rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one two' 
    'one three';
    padding-block: 2rem;
    width: min(95%,70rem);
    margin-inline:auto;
    align-items: center;
}

.content article:nth-child(1) {
    grid-area: one;
}

.content article:nth-child(2) {
    grid-area: two;
}
.content article:nth-child(3) {
    grid-area: three;
}





